@import "../colors.scss";

.about-content {
  margin-top: 150px;
}

.about-sub {
  padding: 15px;
}

.faq-sub {
  padding: 15px;
}

.about-page h1 {
  color: $navy-blue;
}

.about-page h3 {
  color: $navy-blue;
}

.about-image {
  max-width: 50%;
}
