@import "../../colors.scss";

.nav-order-button {
  background-color: $orange;
  border-radius: 5px;
  color: white !important;
  font-size: 24px;
}
.nav-link {
  padding: 10px !important;
  font-size: 24px;
}

.hovernav:hover span {
  border-bottom: solid  $orange;
}


.main-nav-link {
  color: $navy-blue !important;
}

.logo-image {
  max-width: 125px;
}


//833c58badcfa45b9a5deaf7066be1a41