@import "../../colors.scss";

.nav-order-button {
  background-color: $orange;
  border-radius: 5px;
  color: white !important;
  font-size: 22px;
}
.nav-link {
  font-size: 22px;
}

.navbar-nav {
  font-weight: bold;
}

.hovernav:hover span {
  border-bottom: solid $orange;
}

.main-nav-link {
  color: $navy-blue !important;
}

.logo-image {
  max-width: 125px;
}

.navbar {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.hover-button {
  position: relative;
  appearance: none;
  background: $orange;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;

  span {
    position: relative;
    pointer-events: none;
  }

  &::before {
    --size: 0;

    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, $orange, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:hover::before {
    --size: 400px;
  }
}
