@import "../colors.scss";

img {
  max-width: 100%;
}

.orderbutton {
  background-color: $orange;
  border: none !important;
  border-radius: 5px;
  color: #ffffff;
}

.product-card {
  background-color: #f1f1f1;
  padding: 10%;
}

.Product {
  padding: 10%;
}

.Product__input {
  margin-left: 20px;
  padding-left: 10px;
  width: 75px;
  border: 1px solid gray;
}
