.hero {
  height: 50vh;
  background-color: #f1f1f1;
  text-align: center;
}

img {
  width: 150px;
}

.sectionHeader {
  text-align: left;
}

.orderKit {
  text-align: center;
}

.nav-order-button {
  background-color: gray;
  border-radius: 5px;
  color: white;
}
