@import "./colors.scss";

@font-face {
  font-family: "Proxima";
  src: url("./fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
}

* {
  font-family: Proxima;
  widows: 2;
}

.hero {
  height: 50vh;
  background-color: $navy-blue;
  text-align: center;
  color: $light-text;
  margin-top: 100px;
}

.hero-text {
  width: 60%;
}

.hero-text h1 {
  font-size: 3rem !important;
}

@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 2rem !important;
  }

  .hero-text {
    width: 75%;
  }

  .hero-text h3 {
    font-size: 1rem;
  }

  .orderKit button {
    background-color: $orange !important;
    border: none !important;
    width: 75% !important;
    border-radius: 5px;
  }
}

.main-header-text {
  font-weight: 1200;
}

.heroCTA {
  background-color: $light-blue !important;
  border: none !important;
  font-size: 24px !important;
}

.mainCTA button {
  width: 50%;
}

@media (min-width: 992px) {
  .mainCTA button {
    width: 25%;
  }
}

.placeholderImg {
  width: 150px;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader span {
  border-bottom: solid 5px $orange;
  font-weight: bold;
}

.orderKit {
  text-align: center;
  margin-bottom: 5vh;
}

.orderKit button {
  background-color: $orange !important;
  border: none !important;
  font-size: 32px;
  width: 50%;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .orderKit button {
    background-color: $orange !important;
    border: none !important;
    font-size: 32px;
    width: 25%;
    border-radius: 5px;
  }
}

.partnerImage {
  max-width: 100%;
  padding: 50px;
}

.orderText {
  font-size: 25px;
}
