.hero {
  height: 50vh;
  background-color: #f1f1f1;
  text-align: center;
}

.placeholderImg {
  width: 150px;
}

.sectionHeader {
  text-align: left;
}

.orderKit {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.orderKit button {
  background-color: gray !important;
  border: none !important;
}



