@import "./colors.scss";

@font-face {
  font-family: "Proxima";
  src: url("./fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
}

* {
  font-family: Proxima;
}

.hero {
  height: 100vh;
  background-color: $navy-blue;
  text-align: center;
  color: $light-text;
  margin-top: 10vh;
}

.hero-text {
  width: 75%;
}

.heroCTA {
  background-color: $light-blue !important;
  border: none !important;
  font-size: 24px !important;
}

.mainCTA button {
  width: 50%;
}

@media (min-width: 992px) {
  .mainCTA button {
    width: 25%;
  }
}

.placeholderImg {
  width: 150px;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader span {
  border-bottom: solid 5px $orange;
  font-weight: bold;
}

.orderKit {
  text-align: center;
  margin-bottom: 5vh;
}

.orderKit button {
  background-color: $orange !important;
  border: none !important;
  font-size: 32px;
  width: 50%;
  border-radius: 15px;
}

@media (min-width: 992px) {
  .orderKit button {
    background-color: $orange !important;
    border: none !important;
    font-size: 32px;
    width: 25%;
    border-radius: 15px;
  }
}

.partnerImage {
  max-width: 50%;
}


.orderText {
  font-size: 25px;
}