@import "./colors.scss";

@font-face {
  font-family: "Proxima";
  src: url("./fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  font-family: "Raleway", sans-serif;
  widows: 2;
}

.hero {
  height: 50vh;
  //background-color: $navy-blue;
  text-align: left;
  color: $navy-blue;
  margin-top: 100px;


}

.network-image {
  background-image: url("./images/network-banner-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.hero-text {
}

.hero-text h1 {
  font-size: 3rem !important;
}

.hero-text h3 {
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 2rem !important;
  }

  .hero-text {
  }

  .hero-text h3 {
    font-size: 1rem;
  }

  .orderKit button {
    background-color: $orange !important;
    border: none !important;
    border-radius: 5px;
    width: 75% !important;
  }
}

h3 {
  color: $navy-blue;
}

.main-header-text {
  font-weight: bolder;
}

.heroCTA {
  background-color: $light-blue !important;
  border: none !important;
  font-size: 24px !important;
}

.mainCTA button {
  width: 50%;
}

@media (min-width: 992px) {
  .mainCTA button {
    width: 25%;
  }
}

.placeholderImg {
  width: 150px;
}

.sectionHeader {
  text-align: center;
}

.sectionHeader span {
  border-bottom: solid 5px $orange;
  font-weight: bold;
  color: $navy-blue;
}

.orderKit {
  text-align: center;
  margin-bottom: 5vh;
}

.order-kit-cta-large {
  background-color: $orange !important;
  border: none !important;
  font-size: 32px;
  width: 50%;
  border-radius: 5px;
  color: #ffffff;
}


@media (min-width: 992px) {
  .order-kit-cta-large {
    background-color: $orange !important;
    border: none !important;
    font-size: 32px;
    width: 25%;
    border-radius: 5px;
  }
}

.partnerImage {
  max-width: 100%;
  padding: 50px;
}

.orderText {
  font-size: 25px;
}
