@import "../../colors.scss";

.homeSection {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.wwa-text {
  text-align: left;
  color: $light-text;
}

.howImage {
  max-width: 75%;
}

.wwa-card {
  border: none !important;
  background: none !important;
}

.hiw-card {
  border: none !important;
  background: none !important;
}

.wwa-background {
  background-color: $navy-blue;
}

.wwa-header {
  color: $orange;
}
