@import "../../colors.scss";

.homeSection {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.step-number {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: $orange;
  color: white;
  text-align: center;
  font-size: 2em;
  float: right;
}

.wwa-text {
  text-align: center;
  color: $light-text;
}

.howImage {
  max-width: 75%;
}

@media (min-width: 992px) {
  .howImage {
    max-width: 75%;
    float: left;
  }
}
.wwa-card {
  border: none !important;
  background: none !important;
}

.hiw-card {
  border: none !important;
  background: none !important;
}

.wwa-background {
  background-color: $navy-blue;
}

.wwa-header {
  color: $orange;
}

.step-title {
  text-align: left;
}

.step-desc {
  font-size: 18px;
  text-align: left;
  color: gray;
}
