.howitworks {
}

.whoweare {

}

.homeSection {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.heroCTA {
    background-color: gray !important;
    border: none !important;
}

.card {
    box-shadow: 10px 5px 5px gray;}